.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.1em 1.1em;
    background-color: $secondary;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: inherit;
    line-height: 1.1;
    border: none;
    border-radius: 3em;
    color: $white;
    cursor: pointer;
    text-decoration: none;
    

    &--red {
        background-color:$red;
        &:hover {
            opacity: 0.5;
            background-color: darken($red,5%);
        }
        
    }

    &--blue {
        background-color:$blue;
        &:hover {
            opacity: 0.5;
            background-color: darken($blue,5%);
            
        }
        
    }


}
