.header {
    // display: flex;
    position: relative;
    width: calc(80%);
    color: white;
    margin-top: 0;
    height: 30px;
   
    top: 0;
    left: 20%;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
   
    // z-index: $z-index-header;
  
}
.header_left {
    width: 60%;
}

.header_right {
    width: 40%;
    display: flex;
}
.nav-list {
    display: flex;
}
#search {
   
    max-width: 21rem;
    background: transparent;
   
   
   
    margin-top: 1.7rem;
   
    padding: 0.2rem;
}

#search-input {
    background-color: $primary;
    border: none;
    font-family: inherit;
    font-size: 1.2rem; 
    color:white;
    padding: .1rem;

    &::placeholder{
        color: rgba($color: white, $alpha: .4);
        padding: 20px;


    }


}