.main {
    padding-left: 300px;
    padding-top: 5rem;

}
h1 {
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
}
// .img {
//     background-image: url('/src/assets/images/about_me1.JPG') center no-repeat;
// }
