<aside class="sidebar">
  <div class="sidebar_header">
      <img src="assets/images/sidebar300x200.jpg" alt="img-header">

  </div>
  <div class="sidebar_content">
      <div class="profile">
          <img class="profile_avatar" src="https://place-hold.it/100" alt="">
          <div class="profile_name">Roman Burlaka</div>
          <div class="profile_prof">Blogs Web Developer</div>
          <ul class="social">
              <li class="social_item">
                  <a class="social_link" href="" target="_blank"></a>
                  <img src="assets/images/social/facebook.svg" alt="">

              </li>
              <li class="social_item">
                <a class="social_link" href="" target="_blank"></a>
                <img src="assets/images/social/linkedin.svg" alt="">

            </li>

          </ul>

          <div class="profile_text">

              <p>Front-end Developer since 2021. I am ambitions man. Yeat dont have a lot of experience, but I do all I will to achive my goals.</p>
          </div>
          
      </div>

  </div>
  <div class="sidebar_footer">
      <a class="btn btn--red"  href="">My works</a>
      <button class="btn btn--blue">Sent me letter</button>

  </div>
</aside