<div class="stories">
    <div class="stories_item">
     
       <img class="stories_preview"  src="../assets/images/stories-1.jpg" alt="hands">
       <div class="stories_title">Odpoczynek...</div>
       <time class="stories_date" datetime="2009-07-19">2022.07.19</time>
    </div>
    <div class="stories_item">
        <img class="stories_preview" src="../assets/images/stories-2.jpg" alt="hands">
        <div class="stories_title">Praca...</div>
        <time class="stories_date" datetime="2009-07-19">2020.09.19</time>
        
        
    </div>

    <div class="stories_item">
        <img class="stories_preview"  src="../assets/images/stories-3.jpg" alt="hands">
        <div class="stories_title">Relax...</div>
        <time class="stories_date" datetime="2009-07-19">2021.06.01</time>
        
    </div>

    <div class="stories_item">
        <img class="stories_preview"  src="../assets/images/stories-4.jpg" alt="hands">
        <div class="stories_title">Park...</div>
        <time class="stories_date" datetime="2009-07-19">2019.11.09</time>
        
    </div>


</div>
<!-- /.stories -->

<!-- add post -->
<div class="post">
    <div class="post_conntent">
        <div class="post_text">

        </div>
        <div class="post_footer">
            
        </div>
    </div>
    
</div>



<!-- /.add post -->